.btn {
  width: 150px;
  background-color: brown;
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 25px;
  box-shadow: 2px solid white;
  margin-top: 10px;
}
.preview {
  width: 400px;
  height: 100px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
}
.preview-text {
  font-size: 23px;
}
.btn-main {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 1;
}
